.carousel {
  @apply overflow-x-hidden max-w-[400px] mr-9 shrink-0;

  .current {
    @apply bg-white rounded-md w-[400px] h-[450px] flex items-center justify-center mb-3 overflow-hidden py-3 px-3;

    &Image {
      @apply w-[300px] h-[300px];
    }
  }

  .list {
    @apply flex;

    .item {
      @apply bg-white border-b-2 border-transparent rounded-md flex items-center justify-center mr-2 last:mr-0 px-1 py-3 shrink-0 cursor-pointer overflow-hidden;
      transition: all .2s ease-in-out;

      .itemImg {
        @apply flex-shrink-0 w-[90px] h-[90px];
      }

      &.active {
        @apply border-b-2 border-primary;
        transition: all .2s ease-in-out;
      }

      &:hover {
        @apply border-b-2 border-secondary;
        transition: all .2s ease-in-out;
      }
    }
  }
}