.page {
  @apply px-7 py-9 w-full;
  height: calc(100vh - 71px);

  .header {
    @apply flex items-center justify-between mb-7;
  }

  .title {
    @apply font-bold text-[30px];
  }

  .list {
    @apply flex flex-col gap-4;
  }

  .modal {
    @apply absolute z-10 top-0 left-0 right-0 bottom-0 flex items-center justify-center w-full h-full;
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s ease-in-out, visibility .1s ease-in-out;

    &.active {
      transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
      opacity: 1;
      visibility: visible;
    }

    .overlay {
      @apply absolute z-20 top-0 left-0 right-0 bottom-0 w-full h-full bg-black opacity-50;
    }

    &Body {
      @apply relative z-30 bg-background rounded-md min-w-[500px] px-4 py-6 text-white;
    }
  }
}