.item {
  @apply flex items-center justify-center bg-white rounded-3xl p-4 cursor-pointer mr-5 last:mr-0;
  transition: all .2s ease-in-out;
  animation: fade 3s ease;

  &:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}